<div class="form-container">
  {{!-- TITLE --}}
  <div class="form-title">
    <label for="post-title">Title:</label><br>
    <input class="form-title" id="post-title" type="text" name="title" value="{{posts.title}}"/>
  </div>
  {{!-- BODY --}}
  <div class="form-body">
    <label for="post-body">Post:</label><br>
    <input class="form-body" id="post-body" type="text" name="body" value="{{posts.body}}"/>
  </div>


