<div class="post-container">

      <h1 class="post-title">{{posts.title}}</h1>

      <p class="post-description">{{posts.body}}</p>

      {{!-- <h1>hello world test</h1> --}}
    <!-- Show Comments -->
    {{#each comments}}
        <h1>hello world</h1>
      {{> comment}}
    {{/each}}
    {{> comment-form}}
</div>
